<!DOCTYPE html>
<html>
<head>
	<title>BookmarkMe</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
	<div class="container-fluid">

		<div class="header row">
			<img class="bookmark-logo-img" src="images/book-bookmark-icon.png"/>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h2>Bookmark Me</h2>
			</div>
		</div>

		<div class="row">
			
			<!-- File Explorer - Starts -->
			<div id="file-explorer-main" class="file-explorer col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						
						<!-- File Explorer Toolbar - Starts -->
						<div id="file-explorer-toolbar" class="file-explorer-toolbar row">
		
							<div id="toolbar-section-1" class="toolbar-section-1 toolbar-section col-lg-8 col-md-8 col-sm-8 col-xs-12">
								<div class="input-group">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button"><i class="fa fa-arrow-left"></i></button>
									</span>
									<input id="file-path-input" type="text" class="file-path-input form-control" placeholder="Path..." value="/root"/>
									<span class="input-group-btn">
										<button id="go-to-path-btn" class="go-to-path-btn btn btn-default" type="button">Go</button>
									</span>
								</div>
							</div>

							<div id="toolbar-section-2" class="toolbar-section-2 toolbar-section col-lg-3 col-md-3 col-sm-3 col-xs-12">
								
								<div class="crud-btn-group btn-group ">
									<button id="add-item-btn" type="button" class="btn btn-default" aria-label="Left Align">
										<i class="fa fa-plus"></i>
									</button>
									<button id="remove-item-btn" type="button" class="btn btn-default" aria-label="Justify">
										<i class="fa fa-minus"></i>
									</button>
								</div>

								<button id="move-item-btn" type="button" class="single-btn btn btn-default">
									<i class="fa fa-sign-in"></i>
								</button>

							</div>

						</div>
						<!-- File Explorer Toolbar - Ends -->

						<!-- File Explorer Content - Starts -->
						<div class="file-explorer-content row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								
								<ul id="file-explorer-ul" class="file-explorer-ul">

								</ul>

							</div>
						</div>
						<!-- File Explorer Content - Ends -->

					</div>
				</div>
			</div>
			<!-- File Explorer - Ends -->

		</div>
	</div>

	<!-- Modal - Starts -->

	<!-- Move Item Modal - Starts -->
	<div id="move-item-modal" class="move-item-modal modal fade" id="move-item-modal" tabindex="-1" role="dialog" aria-labelledby="move-item-modal">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true">
	                &times;
	                </span>
	                </button>
	                <h4 class="modal-title" id="myModalLabel">
	                    Move README.md
	                </h4>
	            </div>
	            <div class="modal-body">
	                
					<!-- File Explorer - Starts -->
					<div id="file-explorer-move" class="file-explorer">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								
								<!-- File Explorer Toolbar - Starts -->
								<div id="file-explorer-toolbar" class="file-explorer-toolbar row">
									
									<div id="toolbar-section-1" class="toolbar-section-1 toolbar-section col-lg-8 col-md-8 col-sm-8 col-xs-12">
										<div class="input-group">
											<span class="input-group-btn">
												<button class="btn btn-default" type="button"><i class="fa fa-arrow-left"></i></button>
											</span>
											<input id="file-path-input" type="text" class="file-path-input form-control" placeholder="Path..." value="/root"/>
											<span class="input-group-btn">
												<button id="go-to-path-btn" class="go-to-path-btn btn btn-default" type="button">Go</button>
											</span>
										</div>
									</div>

								</div>
								<!-- File Explorer Toolbar - Ends -->
								
								<!-- File Explorer Content - Starts -->
								<div class="file-explorer-content row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										
										<ul id="file-explorer-ul" class="file-explorer-ul">
											
										</ul>

									</div>
								</div>
								<!-- File Explorer Content - Ends -->

							</div>
						</div>
					</div>
					<!-- File Explorer - Ends -->

	            </div>
	            <div class="modal-footer">
	                <button id="cancel-move-btn" type="button" class="cancel-move-btn btn btn-default" data-dismiss="modal">
	                	Cancel
	                </button>
	                <button id="move-here-btn" type="button" class="move-here-btn btn btn-primary">
	                	Move here
	                </button>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- Move Item Modal - Ends -->

	<!-- Add Item Modal - Starts -->
	<div id="add-item-modal" class="add-item-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="add-item-modal">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true">
	                	&times;
	                </span>
	                </button>
	                <h4 class="modal-title" id="add-item-modal-title">
	                    Add
	                </h4>
	            </div>
	            <div class="modal-body">
	                
					<div id="add-item-type-dropdown" class="add-item-type-dropdown add-item-row dropdown">
					    <button id="item-type-dropdown-button" class="btn btn-default dropdown-toggle" type="button" id="item-type-dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" value="bookmark">
						    <span id="selected-item-type-text">Bookmark</span>
						    <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu" aria-labelledby="item-type-dropdown-menu">
					        <li><a value="folder">Folder</a></li>
					        <li><a value="bookmark">Bookmark</a></li>
					    </ul>
					</div>

					<div id="add-item-name-div" class="add-item-name-div add-item-row">
						<input id="add-item-name" class="add-item-name form-control" placeholder="Label"/>
					</div>

					<div id="add-item-content-div" class="add-item-content-div add-item-row">
						<input id="add-item-content" class="add-item-content form-control" placeholder="URL"/>
					</div>

	            </div>
	            <div class="modal-footer">
	                <button id="cancel-item-modal-btn" type="button" class="cancel-item-btn btn btn-default" data-dismiss="modal">
	                	Cancel
	                </button>
	                <button id="add-item-modal-btn" type="button" class="add-item-btn btn btn-primary">
	                	Add
	                </button>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- Add Item Modal - Ends -->

	<!-- Modal - Ends -->

	<!-- Template - Starts -->

	<!-- File Explorer Toolbar Template - Starts -->
	<script id="file-explorer-toolbar-template" type="text/template">

	</script>
	<!-- File Explorer Toolbar Template - Ends -->

	<!-- File Item Template - Starts -->
	<script id="file-item-template" type="text/template">
		<div id="file-item-wrapper" class="file-item-wrapper">
			<div>
				<img id="file-icon-img" src="{{icon}}" alt="No icon" class="file-icon-img"/>
			</div>
			<div id="file-item-name" class="file-item-name">
				{{name}}
			</div>
			<div id="file-item-overlay" class="file-item-overlay"></div>
		</div>
	</script>
	<!-- Item Template - Starts -->

	<!-- Template - Ends -->

	<!-- Scripts -->

	<!-- Library Scripts -->
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.2/backbone-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.1.3/mustache.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="javascripts/library/jquery.longclick.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
	<script src="javascripts/library/notify.min.js"></script>

	<!-- Application Scripts -->
	<script src="javascripts/action.js"></script>

	<!-- Backbone Units -->
	<script src="javascripts/backbone_units/models/ItemModel.js"></script>
	<script src="javascripts/backbone_units/collections/ItemCollection.js"></script>
	<script src="javascripts/backbone_units/views/FileExplorerToolbarView.js"></script>
	<script src="javascripts/backbone_units/views/AddItemModalView.js"></script>
	<script src="javascripts/backbone_units/views/ItemView.js"></script>
	<script src="javascripts/backbone_units/views/ItemListView.js"></script>
	<script src="javascripts/backbone_units/views/MoveItemModalView.js"></script>

	<script src="javascripts/app.js"></script>

	<!-- CSS -->

	<!-- Library CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="stylesheets/application/FileExplorer.css">

	<!-- Application CSS -->
	
</body>
</html>