.file-explorer .file-explorer-toolbar {
	padding: 10px 5px;
	border-bottom: 1px solid #E2DEDE;
}

.file-explorer .file-explorer-toolbar .toolbar-section {
	padding: 5px;
}

.file-explorer .file-explorer-toolbar .toolbar-section.toolbar-section-2.col-xs-12 {
	float: right;
}

.file-explorer .file-explorer-toolbar .btn-group, .file-explorer .file-explorer-toolbar .single-btn {
	margin-right: 10px;
}

.file-explorer .file-explorer-content {
	padding: 20px 30px;
}

.file-explorer .file-explorer-content ul.file-explorer-ul {
	padding-left: 5px;
}

.file-explorer .file-explorer-content ul.file-explorer-ul li {
	display: inline-block;
	list-style-type: none;
	padding-right: 30px;
	padding-bottom: 30px;
}

.file-explorer .file-explorer-content ul.file-explorer-ul li .file-item-wrapper {
	height: 70px;
	width: 55px;	
	cursor: pointer;
}

.file-explorer .file-explorer-content ul.file-explorer-ul li .file-item-wrapper.selected .file-item-overlay {
    height: 80px;
    width: 70px;
    position: absolute;
    background-color: rgba(0, 137, 255, 0.38);
    margin-top: -76px;
    margin-left: -7px;
    border-radius: 5px;
}

.file-explorer .file-explorer-content ul.file-explorer-ul li img.file-icon-img {
	height: 50px;
	width: 50px;
}

.file-explorer .file-explorer-content ul.file-explorer-ul li .file-item-wrapper .file-item-name {
	text-overflow: ellipsis;
	white-space: nowrap;
    overflow: hidden;
	height: 20px;
	width: 60px;
	text-align: center;
	margin-left: -5px;
}

.move-item-modal .modal-body {
	padding-top: 0px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

#add-item-modal .add-item-row {
	padding: 10px 0px;
}

input.error {
	border: 1px solid #FF0000;
}

.header {
	border-bottom: 1px solid #E2DEDE;
}

.header .bookmark-logo-img {
	position: absolute;
    width: 33px;
    margin: 11px 16px;
}

.header h2 {
	font-size: 20px;
    margin: 15px;
    color: #1ABC9C;
    padding-left: 35px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.08);
    letter-spacing: 0.4px;
    font-weight: normal;
}